#Library and Build files from MoonVR
MoonVR/Library/

MoonVR/Temp/
MoonVR/Obj/
MoonVR/Build/
MoonVR/Builds/
MoonVR/Assets/AssetStoreTools*
!MoonVR/Library/LastSceneManagerSetup.txt

#Files from UI and Research Team
SUITS_Research/
ModelExplorer/


#Library and Build files from ARVRsuits
ARVRsuits/Library/
!ARVRsuits/Library/LastSceneManagerSetup.txt

ARVRsuits/Temp/
ARVRsuits/Obj/
ARVRsuits/Build/
ARVRsuits/Builds/
ARVRsuits/Assets/AssetStoreTools*

#Library and Build files from Leap Motion and ZED Mini Examples Folder (UI Team Code)
Leap_Motion_and_ZED_Example/Library/
!Leap_Motion_and_ZED_Example/Library/LastSceneManagerSetup.txt

Leap_Motion_and_ZED_Example/Temp/
Leap_Motion_and_ZED_Example/Obj/
Leap_Motion_and_ZED_Example/Build/
Leap_Motion_and_ZED_Example/Builds/
Leap_Motion_and_ZED_Example/Assets/AssetStoreTools*

#Main UI Team folder
SUITSUI/Library/
!SUITSUI/Library/LastSceneManagerSetup.txt

SUITSUI/Temp/
SUITSUI/Obj/
SUITSUI/Build/
SUITSUI/Builds/
SUITSUI/Assets/AssetStoreTools*

#Library and Build files from ModelExplorer (AR Code)
ModelExplorer/Library/
!ModelExplorer/Library/LastSceneManagerSetup.txt

ModelExplorer/Temp/
ModelExplorer/Obj/
ModelExplorer/Build/
ModelExplorer/Builds/
ModelExplorer/Assets/AssetStoreTools*

#Library and Build files from ModelExplorer (AR Code)
ResearchTeam/ModelExplorer/Library/
!ResearchTeam/ModelExplorer/Library/LastSceneManagerSetup.txt

ResearchTeam/ModelExplorer/Temp/
ResearchTeam/ModelExplorer/Obj/
ResearchTeam/ModelExplorer/Build/
ResearchTeam/ModelExplorer/Builds/
ResearchTeam/ModelExplorer/Assets/AssetStoreTools*

# Visual Studio cache directory
.vs/

# Autogenerated VS/MD/Consulo solution and project files
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta

# Unity3D Generated File On Crash Reports
sysinfo.txt

# Builds
*.apk
*.unitypackage
ModelExplorer/Assets/4keva\.mp4\.meta

ModelExplorer/Assets/4keva\.mp4
*.blend1
MoonVR/Assets/Models/Rover/MMSEV_Separate_Airlock_11-26-19.blend1.meta
MoonVR/ProjectSettings/Packages/com.unity.probuilder/Settings.json
MoonVR/ProjectSettings/Packages/com.unity.probuilder/Settings.json
